
:root{
    --modal-bg: #fff;
    --backdrop-bg:rgba(0, 0, 0, 0.2);
    --fontFamily-roboto: 'Roboto', normal;
    --font-black:#000000;
    --font-gray: #8C8C8C;
    --font-btn-watched:#FF6B01;
    --font-btn-not-selected:#F7F7F7;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
$tablet:768px;
$desktop:1024px;

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--backdrop-bg);
    z-index: 1;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    // // height: 940px;
    width: 280px;
    height: 90%;
    overflow: auto;
    
    background-color: var(--modal-bg);
    @media screen and (min-width:$tablet){
        width: 704px;
        height: auto;
    }
    @media screen and (min-width:$desktop) {
         width: 806px;
         height: auto;
    }
    

}

.modal__btn-close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    color: var(--font-black);
    cursor: pointer;

}
// ----------------------------------------------
.modal-container{
    padding: 48px 20px 40px 20px;
    @media screen and (min-width:$tablet) {
        display: flex;
        padding: 40px 36px ;
        
    }
    @media screen and (min-width:$desktop) {
        display: flex;
         padding: 40px 12px;
    }

}
.modal-container-columns{
    @media screen and (min-width:$tablet) {
        width: 264px;
    
        }
    @media screen and (min-width:$desktop) {
        width: auto;
    }
   

}
.modal__img{
    width: 240px;
    height: 357px;
    border-radius: 5px;
    margin-bottom: 20px;
    @media screen and (min-width:$tablet) {
        width: 264px;
        height: 374px;
        margin-bottom: 0;
        margin-right: 68px;
    }
    @media screen and (min-width:$desktop) {
        width: 375px;
        height: 478px;
        margin-bottom: 0;
        margin-right: 16px;
    }
}

.modal__name{
    margin-top: 0;
    margin-bottom: 20px;

    font-family: var(--fontFamily-roboto);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.17;
    color: var(--fontFamily-black);
    @media screen and (min-width:$tablet) {
        line-height: 1.15;
    
    }
    @media screen and (min-width:$desktop) {
        font-size: 30px;
        line-height: 1.17;
    
    }
}
.modal__list-theme{
    margin-right: 40px;
    @media screen and (min-width:$desktop) {
        margin-right: 85px;

    }
}
.modal__item{
   margin-bottom: 8px;
    &:last-child{
        margin-bottom: 0;
    }
}
.modal__item-text{
    font-family: var(--fontFamily-roboto);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: var(--font-gray);
}
.modal__item-value{
    font-family: var(--fontFamily-roboto);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: var(--font-black);
    &.slash{
        color: var(--font-gray);
    }
}
.modal__hightlight{

    border-radius: 5px;
    font-family: var(--fontFamily-roboto);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;

    &.selected{
        padding: 1px 10px;
        background-color: var(--font-btn-watched);
        color: var(--modal-bg);
    }
    &.not-selected{
        padding: 1px 5px;
        background-color: var(--font-btn-not-selected);
        color: var(--font-black);
    }
}

.modal-conteiner-ul{
    display: flex;
    margin-bottom: 20px;
}
.modal__about{
    margin-bottom: 8px;

    font-family: var(--fontFamily-roboto);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: var(--font-black);
    text-transform: uppercase;
}
.modal__description{
    margin-bottom: 20px;
    font-family: var(--fontFamily-roboto);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    color: var(--font-black);
}
// -----------------btn-----------------------------
.modal__btn-list{
    display: flex;
    justify-content: space-between;
    @media screen and (min-width:$tablet) {
        justify-content:flex-start;
    }
}

.modal__btn{
    width: 110px;
    height: 44px;

    border-radius: 5px;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    transition: border-color 250ms var(--cubic-bezier),
    box-shadow 250ms var(--cubic-bezier);
    cursor: pointer;
    @media screen and (min-width:$tablet) {
        width: 125px;    
    }
    @media screen and (min-width:$tablet) {
        width: 136px;
    }

    &.watched{
        margin-right: 15px;

        border: none;
        background-color: var(--font-btn-watched);
        text-transform: uppercase;

        font-family: var(--fontFamily-roboto);
        color: var(--modal-bg);
        &:focus,
        &:hover {
            border-color: #FF6B01;
            box-shadow: 0 0 10px 0 var(--font-btn-watched) inset,
            0 0 10px 4px var(--font-gray);
        }

    }
    &.queue{
        border: 1px solid var(--font-black);
        text-transform: uppercase;
        font-family: var(--fontFamily-roboto);
        color: var(--font-black);
        &:focus,
        &:hover{
            border-color: #8C8C8C;
            box-shadow: 0 0 5px 0 var(--font-gray) inset,
                    0 0 5px 4px var(--font-gray);
        }
    }
}